* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  @include grid-layout(300px 1fr 350px, auto 100px);
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
}
